EC/EC.DA/Connected Services/AvdService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdvertisingService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdvertisingService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdvertising">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advertising" nillable="true" type="tns:Advertising" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertising" nillable="true" type="tns:ArrayOfAdvertising" />
  <xs:complexType name="Advertising">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advertising" nillable="true" type="tns:Advertising" />
</xs:schema>